[user]
	name = Jeremy Seago
	email = jseago@bellevuerx.com
[push]
	default = simple
[github]
	user = seagoj
[alias]
	lg = log --color --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)%Creset'
