*.log
zsh/.antigen/repos/*
vim/.vim/bundle
vim/.vim/plugged
vim/.vim/.netrwhist
*/.DS_Store
anyconnect/.anyconnect
general/.secrets
ssh/.ssh/config
ssh/.ssh/id_rsa
ssh/.ssh/id_rsa_deploy
vim/.gist-vim
mycli/.aliases/mycli.alias
