**/.DS_Store
**/*.log
atom/.local/share/atom/.apm
atom/.local/share/atom/.node-gyp
atom/.local/share/atom/blob-store
atom/.local/share/atom/compile-cache
atom/.local/share/atom/packages
buku/.local/share/buku/bookmarks.db
geeknote/.geeknote/database.db
general/.config/configstore/bower-github.yml
general/.config/configstore/insight-bower.yml
general/.config/configstore/update-notifier-bower.yml
general/.secrets
iterm/.iterm/sourcerer.itermcolors
keybase/.config/keybase/secretkeys.seagoj.mpack
mutt/.config/mutt/cache
mutt/.config/mutt/certificates
mycli/.aliases/mycli.alias
ncmpcpp/.mpd/sticker.sql
ncmpcpp/.mpd/mpd.db
ncmpcpp/.mpd/mpd.pid
ncmpcpp/.mpd/mpdstate
ncmpcpp/.config/gmusicproxy.cfg
nvim/.config/nvim/plugged
nvim/.config/nvim/bundle
nvim/.config/nvim/colors/sourcerer.vim
nvim/.config/nvim/.netrwhist
ranger/.config/ranger/history
ssh/.ssh/bonfyre
tmux/.ngrok2/ngrok.yml
tmux/.tmux/plugins/tmux-resurrect
tmux/.tmux/plugins/tmux-sensible
vim/.vim/.netrwhist
vim/.vim/bundle
vim/.vim/plugged
vim/.gist-vim
vim/.vim/autoload/plug.vim
zsh/.antigen/repos/*
vpn/bin/vpn-bellevue
bonfyre/.config/aliases/bonfyre.alias
bonfyre/bin/work
keybase/.config/keybase/config.json
Makefile
mysql/.mylogin.cnf
rainbowstream/.rainbow_oauth
tmux/.tmux/plugins
mutt/.config/mutt/muttrc
hyper/.hyper_plugins/node_modules
backup-secrets
bonfyre/.local/bin/work
vpn/.local/bin/vpn-bellevue
u2f/.config/u2f/keys
hyper/.hyper_plugins
nohup.out
