[submodule "zsh/.zim"]
    path = zsh/.zim
    url = git://github.com/Eriner/zim.git
    url = git://github.com/Keyboardio/Model01-Firmware.git
[submodule "zsh/.zim"]
    path = zsh/.zim
    url = https://github.com/zimfw/zimfw.git
[submodule "vimwiki"]
    path = nvim/vimwiki
    url = gitlab:seagoj/wiki.git
