*.log
zsh/.antigen/repos/*
vim/.vim/bundle
vim/.vim/plugged
nvim/.config/nvim/plugged
nvim/.config/nvim/bundle
nvim/.config/nvim/colors/sourcerer.vim
vim/.vim/.netrwhist
nvim/.config/nvim/.netrwhist
vim/.vim/autoload/plug.vim
*/.DS_Store
anyconnect/.anyconnect
general/.secrets
ssh/.ssh/config
ssh/.ssh/id_rsa
ssh/.ssh/id_rsa_deploy
ssh/.ssh/nexus6
ssh/.ssh/known_hosts
vim/.gist-vim
mycli/.aliases/mycli.alias
tmux/.ngrok2/ngrok.yml
flamerobin/.flamerobin/fr_databases.conf
atom/.atom/compile-cache/*
atom/.atom/storage
general/.config/feednix/log.txt
general/.config/configstore/bower-github.yml
general/.config/configstore/insight-bower.yml
general/.config/configstore/update-notifier-bower.yml
ranger/.config/ranger/history
geeknote/.geeknote/database.db
tmux/.tmux/plugins/tmux-resurrect
tmux/.tmux/plugins/tmux-sensible
mutate/.config/Mutate/frequence
ncmpcpp/.mpd/sticker.sql
flamerobin/.flamerobin/code-templates
flamerobin/.flamerobin/history
keepass/.config/KeePass/KeePass.config.xml
keybase/.config/keybase/secretkeys.seagoj.mpack
atom/.atom/.node-gyp
atom/.atom/.npm
atom/.atom/blob-store
atom/.atom/electron
atom/.atom/nohup.out
ncmpcpp/.mpd/mpd.db
ncmpcpp/.mpd/mpd.pid
ncmpcpp/.mpd/mpdstate
ncmpcpp/.config/gmusicproxy.cfg
pass/.password-store/bellevue/bot/ssh/key
pass/.password-store/bellevue/bot/ssh/password
pass/.password-store/bellevue/bot/mysql
pass/.password-store/bellevue/domain
pass/.password-store/bellevue/vpn
pass/.password-store/bellevue/webmail
pass/.password-store/bellevue/wifi
pass/.password-store/finance/ally
pass/.password-store/finance/mint
pass/.password-store/finance/paypal
pass/.password-store/media/hulu
pass/.password-store/media/netflix
pass/.password-store/media/hbo
pass/.password-store/thinkpad/encryption/key
pass/.password-store/thinkpad/encryption/passphrase
pass/.password-store/thinkpad/login
pass/.password-store/home/router
pass/.password-store/home/synology
pass/.password-store/home/wifi
pass/.password-store/social/jeremy/facebook
pass/.password-store/social/jeremy/google
pass/.password-store/social/jeremy/twitter
pass/.password-store/dev/ssh/private
pass/.password-store/dev/ssh/public
pass/.password-store/dev/amazon/apikey
pass/.password-store/dev/github
pass/.password-store/dev/keybase.io
pass/.password-store/vendor/amazon
pass/.password-store/vendor/charter
pass/.password-store/vendor/craigslist
pass/.password-store/vendor/ebates
pass/.password-store/vendor/ebay
pass/.password-store/vendor/jet
pass/.password-store/vendor/projectfi
pass/.password-store/software/feedly
pass/.password-store/software/evernote
pass/.password-store/margaret/matureturdbucket
pass/.password-store/margaret/secretmessage
pass/.password-store/margaret/sillypantseago
