[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = git://github.com/tmux-plugins/tpm
[submodule "awesome/.config/awesome/themes"]
	path = awesome/.config/awesome/themes
	url = git@github.com:seagoj/awesome-themes.git
